/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/MayorMenor/nbproject/private/
/Java/MayorMenor/build/
/Java/Del1al100/nbproject/private/
/Java/Del1al100/build/
/C++/Del1al100/build/
/C++/Del1al100/dist/
/C++/MayorMenor/build/
/C++/MayorMenor/dist/
/C++/HolaMundo/build/
/C++/HolaMundo/dist/
/Java/1al100/dist/
/Java/1al100/build/